[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "automagic"]
	path = automagic
	url = https://github.com/cole-brokamp/automagic
	shallow = true
	registered = true
